{% extends "base.twig" %}

{% block title %}
	Athletics Template 1
{% endblock %}

{% block body %}

<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
	<center>
		<table class="page-wrapper" cellpadding="0" cellspacing="0" border="0">
			<tbody>
				<tr>
					<td>        
						<table class="outer-wrapper" border="0" align="center" cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<td>
										<table class="header" border="0" cellspacing="0" cellpadding="0">
											<tbody>
												<tr class="logo">
													<td >
														<table align="center" border="0" cellspacing="0" cellpadding="0">
															<tbody>
																<tr>
																	<td>
																		<div class="mark"></div>
																	</td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
												<tr class="date" align="center">
													<td>
														<table cellpadding="0" cellspacing="0" border="0">
															<tbody>
																<tr class="date">
																	<td>
																		Tuesday, October 7, 2014
																	</td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>

										{% for story in stories %}

											<table class="story" border="0" align="center" cellpadding="0" cellspacing="0">
												<tbody>
													<tr>
														<td align="left" valign="top">
															<table width="100%" border="0" cellspacing="0" cellpadding="0">
																<tbody>
																	<tr>
																		<td>
																			<table width="100%" border="0" cellspacing="0" cellpadding="0">
																				<tbody>

																					<tr class="to-athletics">
																						<td>
																							<a href="#">
																								{{ story.title }}
																							</a>
																						</td>
																					</tr>

																					<tr class="img">
																						<img src="{{ story.img }}">
																					</tr>

																					{% for paragraph in story.copy %}

																						<tr class="copy">
																							<td>
																								{{ paragraph }}
																							</td>
																						</tr>

																					{% endfor %}

																					{% for link in story.external %}

																						<tr class="to-external">
																							<td>
																								<a href="http://{{ link }}">
																									{{ link }}
																								</a>
																							</td>
																						</tr>

																					{% endfor %}

																				</tbody>
																			</table>
																		</td>
																	</tr>
																</tbody>
															</table>
														</td>
													</tr>
												</tbody>
											</table>

										{% endfor %}

										<table class="footer" border="0" cellspacing="0" cellpadding="0">
											<tbody>
												<tr>
													<td>
														<table border="0" cellspacing="0" cellpadding="0">
															<tbody>
																<tr>
																	<td>

																		<a href="#" target="_blank">
																			Athletics
																		</a>

																		<a href="#" target="_blank">
																			Twitter
																		</a>

																		<a href="#" target="_blank">
																			Facebook
																		</a>
																	</td>
																</tr>
																<tr>
																	<td>
																		<a href="#" target="_blank">
																			Unsubscribe
																		</a>
																	</td>
																</tr>
																<tr>
																	<td>
																		© 2014 Athletcs LLC. 210 North 6th Street Brooklyn, NY 11211
																	</td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>

									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</center>
</body>



{% endblock %}